{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Home {% endblock %}

{% block body %}
<style>

    .row {
        justify-content: center;
    }
    .card-container {
        border: none;
    }
    .card-container > img {
        width: 150px;
        align-self: center;
    }
    .card-body > h5 {
        text-align: center;
    }



</style>

    <div class="container mt-5  service-container" style="margin-top: 50px; margin-bottom: 100px;">
        <h5 style="text-align: center; font-weight: bold; margin-top: 20px;" >ANY WEBSITE, WITH PROPER MANAGEMENT <br>
            HAS THE POTENTIAL TO GENERATE PROFIT!</h5>
        <p style="text-align: center; margin-top: 50px;">The management and promotion of a website are often mistakenly believed to be the responsibilities of developers or in-house employees. This misconception can jeopardize the success of many projects in Moldova, as effective promotion and resource management require equally professional knowledge in both marketing and the functioning of search engines, as well as the technical characteristics of the website. SEMSEO offers comprehensive professional website management, including Search Engine Marketing (SEM) and Search Engine Optimization (SEO), ensuring an increase in the efficiency of your website through the following actions:</p>
        <div class="row" style="margin-top: 100px">
            {% for item in data %}
                <div class="col-md-4">
                    <div class="card mb-4 card-container">
                        <img src="{{ item.image }}" class="card-img-top" alt="{{ item.title }}">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold; width: 220px;">{{ item.title }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{{ item.link }}" style="color: red; text-decoration: underline">read more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
