{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Home {% endblock %}

{% block body %}
<style>

    .row {
        justify-content: center;
    }
    .card-container {
        border: none;
    }
    .card-container > img {
        width: 150px;
        align-self: center;
    }
    .card-body > h5 {
        text-align: center;
    }

    .par {
        font-size: 13px;
        font-weight: bold;
    }

    /* Stilizare pentru containerul video */


    .video-container {
        text-align: center;
        background-color: lightgray;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 100%;
        margin-bottom: 20px;
        background-size: cover;
        background-position: center;
    }

    /* Stilizare pentru încadrarea videoclipului */
    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        border-radius: 10px;
        margin: 0 auto;
    }

    /* Stilizare pentru iframe-ul videoclipului */
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 10px;
    }

    {#.da {#}
    {#    width: 100%;#}
    {#    background-image: url("{{ backUrl }}");#}
    {#}#}





</style>
    <div class="container da">
        <div class="video-container mt-5 justify-content-center">
            <div class="video-wrapper">
                <iframe width="560" height="315" src="{{ youtubeUrl }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>



    <div class="container mt-5  service-container" style="margin-top: 50px; margin-bottom: 100px;">
        <h5 style="text-align: center; font-weight: bold; margin-top: 20px;" >ANY WEBSITE, WITH PROPER MANAGEMENT <br>
            HAS THE POTENTIAL TO GENERATE PROFIT!</h5>
        <p style="text-align: center; margin-top: 50px;">The management and promotion of a website are often mistakenly believed to be the responsibilities of developers or in-house employees. This misconception can jeopardize the success of many projects in Moldova, as effective promotion and resource management require equally professional knowledge in both marketing and the functioning of search engines, as well as the technical characteristics of the website. SEMSEO offers comprehensive professional website management, including Search Engine Marketing (SEM) and Search Engine Optimization (SEO), ensuring an increase in the efficiency of your website through the following actions:</p>
        <div class="row" style="margin-top: 100px">
            {% for item in data %}
                <div class="col-md-4">
                    <div class="card mb-4 card-container">
                        <img src="{{ item.image }}" class="card-img-top" alt="{{ item.title }}">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold; width: 220px;">{{ item.title }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{{ item.link }}" style="color: red; text-decoration: underline">read more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mt-5" style="margin-bottom: 100px;">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1><a href="{{ path('aboutpage') }}" style="color: #e74c3c; font-weight: bold;">ABOUT US</a></h1>
            </div>
        </div>

        <div class="row justify-content-center align-items-center mt-4">
            <div class="col-md-4">
                <img src="/assets/img/google_partener.png" class="img-fluid" alt="About Us Image" style="width: 300px;">
            </div>
            <div class="col-md-4">
                <p class="par">SEMSEO has been operating in the Moldovan market since 2012. Its main specialization includes SEO optimization of websites and managing contextual advertising in Google Adwords. Other services provided are website development and maintenance, design and layout, content writing and translations, technical work of any kind on websites, CRM integration, and the development of marketing tools to increase conversions, as well as audits and reports.</p>
            </div>
            <div class="col-md-4">
                <p class="par">We take pride in: Effectively optimizing and promoting all our clients' websites. Google Partner since 2013. Servicing and developing web solutions since 2014, for over 8 years, for Moldcell, FinComBank. Integrating Yclients, AmoCRM, and CRM.MD. Our own solutions: CRM.MD, Proofdy.io, SmartchatMD. Portfolio includes over 500 clients for maintenance, SEO, and other services.</p>
            </div>
        </div>
    </div>

{% endblock %}
